html,
body,
.full-width-page,
#content{
	height: 100%;
	width: 100%;
}
html,
body{
	overflow-x: hidden;
}


body.logged_out_screen{
	background: rgb(30,172,242);
	background: linear-gradient(180deg, rgba(30,172,242,1) 0%, rgba(41,246,156,1) 100%);
}
.mb-60{
	margin-bottom: 60px !important;
}

.cv19_logged_out_screen { 
	margin-bottom: 30px;
}
