#buddypress .standard-form div.submit input{
    padding: 15px 30px;
    font-weight: 700;
    background: #1eacf2;
    color: #fff;
    border: 0;
}


.bp-login-widget-register-link a {
	color: #fff;
    background-color: #1eacf2;
    border-radius: 2px;
    padding: 7px 40px;
    line-height: 1;
}

#buddypress .standard-form input[type=email],
#buddypress .standard-form #basic-details-section input[type=password]{
	width:90%;
}