/*===============================
=            Buttons            =
===============================*/
.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 24px;
  font-size: 18px;
  line-height: 24px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: transparent;
  mix-blend-mode: normal;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 140px;
  height: 48px;

  &:hover {
    text-decoration: none;
  }
  
  &.btn-white{
  	border-color: #fff;
  	background: #fff;
  	color:#333;

  	&:hover {
  		
  	}

  	&:active,  	
  	&.active{
  		
  	}
  	
  } 

  &.btn-primary{
  	border: 4px solid #FE5000;
  	&:hover,  	
  	&.hover{
  		background-color: #F0F0F0;
  	}
  	&:active,  	
  	&.active{
  		border-color: #001E60;
  		color: #001E60;
  	}
  	&[disabled],
  	&.disabled{
  		opacity: .5
  	}
  }

  &.btn-secondary{
  	border: 4px solid #C4C4C4;
  	&:hover,  	
  	&.hover{
  		background-color: #F0F0F0;
  	}
  	&:active,  	
  	&.active{
  		border-color: #001E60;
  		color: #001E60;
  	}
  	&[disabled],
  	&.disabled{
  		opacity: .5
  	}
  }



}

.btn-full{
  width: 100%;
}

/*=====  End of Buttons  ======*/