// All Variables should be declared here which makes it easier to update if something changes globally //


// If prefixed with x- should only be assigned to other variables, not used on their own.
// If prefixed with c- this means the variable defines a colour
// If prefixed with s- this means the variable defines a sizing measurement
// If prefixed with f- this means the variable defines a font family
// If prefixed with g- this means the variable defines something global


// Global Responsive variables - see breakpoint manager mixin
////////////////
// min width //
///////////////
$g-phone-breakpoint-min-width: 768px; // 544
$g-tablet-breakpoint-min-width: 992px; // make sure this doesn't apply to ipad portrait
$g-desktop-breakpoint-min-width: 1024px; // 992
$g-desktop-large-breakpoint-min-width: 1440px; // 1440 allow for specific styles on very large screens
$g-desktop-retina-breakpoint-min-width: 1600px; // 1440 allow for specific styles on very large screens

////////////////
// max width //
///////////////
$g-phone-breakpoint-max-width: 767px; // 544
$g-tablet-breakpoint-max-width: 991px; // make sure this doesn't apply to ipad portrait
$g-desktop-breakpoint-max-width: 1023px; // 992
$g-desktop-large-breakpoint-max-width: 1439px; // 1440 allow for specific styles on very large screens
$g-desktop-retina-breakpoint-max-width: 1599px; // 1440 allow for specific styles on very large screens


// Base Typography
$base-font-size: 16px; // 16px - see base font-size reset in isobar-reset.scss
$large-font-size: 18px;
$small-font-size: 14px;
$base-line-height: 24px; // 24px - should match the gutter size below

// Fonts
//.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
//.tk-proxima-nova-condensed { font-family: "proxima-nova-condensed",sans-serif; }
//.tk-proxima-nova-extra-condensed { font-family: "proxima-nova-extra-condensed",sans-serif; }
//.tk-proxima-soft { font-family: "proxima-soft",sans-serif; }
//.tk-proxima-soft-condensed { font-family: "proxima-soft-condensed",sans-serif; }
//.tk-proxima-soft-extra-condensed { font-family: "proxima-soft-extra-condensed",sans-serif; }

$f-global-font: 'Arial', sans-serif;
$f-heading-font: 'Arial', serif;

$f-fallback: Arial, sans-serif;

// Grid Gutters (can be used to add padding and keep spacing consistent)
$s-spacing: 4px; // Default spacing, all spacing devisable by 4
$s-gutter-large: 32px;
$s-gutter: 24px;
$s-gutter-phone: 12px;
$s-gutter-phone-narrow: 8px;

$s-vertical-spacer: 24px;
$s-vertical-spacer-large: 40px;


// Colour variables - split background colours and text colours
// If prefixed with x- should only be assigned to other variables, not used on their own.


$white: #FFFFFF;

$x-quartz: #323644;
$x-quartz-900: #5B5E6A;
$x-quartz-700: #93949C;
$x-quartz-500: #B5B6BC;
$x-quartz-300: #E6E6E8;
$x-quartz-100: #F9F9F9;

$black: $x-quartz;
$black-5: $x-quartz-900;
$black-4: $x-quartz-700;
$black-3: $x-quartz-500;
$black-2: $x-quartz-300;
$black-1: $x-quartz-100;


$x-yellow: #F8ED6E;

$x-orange: #FFAB8F;
$x-pale-orange: #FBD0C1;
$x-lavender: #9997E7;
$x-soft-lavender: #D0CFF4;
$x-sage: #308279;
$x-fresh-mint: #BFE9E4;
$x-ashen: #5F5FB7;

$x-green: #3DA660;
$x-soft-green: #DAF0E2;
$x-teal: #6AD7D6;
$x-light-teal: #A1EDEC;
$x-cadmium-red: #E63329;
$x-light-blue: #F3F7FB;


$c-primary: $x-yellow;
$c-secondary: $x-teal;

$c-accent: $x-orange;
$c-accent-light: $x-pale-orange;
$c-accent-lavender: $x-soft-lavender;
$c-accent-background: $x-soft-lavender;
$c-secondary-accent: $x-sage;
$c-secondary-accent-light: $x-fresh-mint;

$c-success: $x-green;
$c-error: $x-cadmium-red;


$c-copy: $x-quartz;
$c-light-copy: $x-quartz-500;
$c-heading: $x-quartz;
$c-border: $x-quartz-300;


// Global Variables

// Global box shadow value
$g-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.24);
$f-box-shadow: 3px 3px 8px rgba(50, 54, 68, 0.15), -3px -3px 8px rgba(255, 255, 255, 0.9);

// Global transition value
$g-transition-duration: .25s;
$g-transition-fast-duration: .2s;
$g-transition: all $g-transition-duration ease-in-out;
$g-transition-fast: all $g-transition-fast-duration ease-in-out;